:root {
    --color--black: #000000;
    --color--cyan-bluish-gray: #abb8c3;
    --color--white: #ffffff;
    --color--white-old: rgb(249, 246, 246);
    --color--pale-pink: #f78da7;
    --color--vivid-red: #cf2e2e;
    --color--luminous-vivid-orange: #ff6900;
    --color--luminous-vivid-amber: #fcb900;
    --color--light-green-cyan: #7bdcb5;
    --color--vivid-green-cyan: #00d084;
    --color--pale-cyan-blue: #8ed1fc;
    --color--vivid-cyan-blue: #0693e3;
    --color--vivid-purple: #9b51e0;
}

::selection {
    background-color: var(--color--luminous-vivid-orange);
    color: var(--color--white);
}
body{
    width: 100%;
}
a{
    text-decoration: none;
}

.row {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul > li {
    list-style-type: none;
}




/* Disign Start */

/* Header Start */
header.header {
    background-color: var(--color--cyan-bluish-gray);
}
/* Header End */

/* Main Content Start */
.main-content {
    width: 96%;
    margin: auto;
}

/* Navbar Start */
.my_brands {
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 24px;
    color: var(--color--black);
}


.nav-link {
    font-weight: bold;
}
/* Navbar End */

/* Slider Start */
.slider {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: var(--color--luminous-vivid-orange);
}
.slider > img{
    width: 100%;
    height: 100%;
}

.slider > .show-about {
    width: 30%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 10%;
    padding: 10px 20px;
}
.show-about > .title {
    font-size: 80px;
    color: var(--color--white);
}
.show-about > .sort_des {
    color: var(--color--white);
}
.show-about > .button-group {
    margin-top: 40px;
    
}

.show-about > .button-group > button {
    font-weight: 700;
    text-transform:  uppercase;
    padding: 10px 17px;
}
/* Slider End */

/* About Us Start */
.about-us {
    width: 70%;
    height:780px;
    margin: auto;
}


.about-us > .bottom > .show-about-us{
    padding: 100px 50px;
}

.about-us > .header > .logo,
.about-us > .header > .logo-card{
    height: 100px;
    border: none;
}

.header > .logo > .card ,
.header > .logo-card > .card{
    height: 100%;
    border: none;
}


.about-us > .bottom {
    width: 100%;
    height: 100%;
    padding: 80px 0px;
    /*background-color: #d8e46f; */
    
}

/* About Us End */

/* About shoes sart */
 
.about-shoes {
    width: 100%;
    height: 850px;
    margin-top: 150px;
    padding: 100px 280px;
    background-color: var(--color--white-old); 
}

.about-shoes > .show-shoes{
    margin-top: 80px;
}

.card {
    background-color: var(--color--white-old) !important;
    border: none !important;
}

.about-shoes > .show-shoes > .show-img > .card > img {
    width: 80%;
    height: 460px;
    margin: auto;
}

.about-shoes-top > .description {
    padding: 10px 300px;
}

/* About shoes end */



/* Best Products start */
.best-products {
    width: 70%;
    height: 1120px; 
    margin: auto;
    margin-top: 100px;
    
}

.card-best-product {
    position: relative;
}

.card-best-product > .sale {
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 10px 7px;
    color: var(--color--white);
    font-weight: 300;
    background: var(--color--light-green-cyan);
    border-radius: 50%;
}

.card-best-product > .quick-view {
    position: absolute;
    bottom: 21.6%;
    right: 0;
    width: 100%;
    visibility: hidden; 
}
.card-best-product:hover > .quick-view {
    visibility: visible;
    transition: 0.4s;
}

/* Best Products end */




/* Responsive Start  */

/* md screen start */
@media screen and (min-width:767px) and (max-width:884px) {
    .main-content {
      width: 100%;
    }
    /* Slider Start */
    .slider {
        width: 100%;
        height: 500px;
        position: relative;
    }
    .slider > .show-about {
        width: 50%;
        height: 60%;
        position: absolute;
        top: 15%;
        left: 5%;
        padding: 10px 20px;
    }
    .show-about > .title {
      font-size: 30px;
      color: var(--color--white);
    }
   /* Slider End */


   /* About us start */
   .about-us {
     width: 97%;
     height:670px;
     margin: auto;
     background-color: #00d084;
    }

    .about-us > .bottom > .show-about-us{
       padding: 0px 20px;
    }

    .about-us > .header > .logo {
     height: 50px;
     width: 143px;
     background-color: var(--color--white); 
    }

    .about-us > .header > .logo-card{
        height: 50%;
    }

   .header > .logo > .card {
     height: 100%;
     border: none;
    }

   /* About us end */


   /* About shoes sart */
 
    .about-shoes {
        width: 100%;
        height: 750px;
        margin-top: 20px;
        padding: 0;
        background-color: var(--color--white-old); 
    }

    .about-shoes > .show-shoes{
        margin-top: 40px;
    }

    .about-shoes > .show-shoes > .show-img > .card > img {
        width: 80%;
        height: 350px;
        margin: auto;
    }

    .about-shoes-top > .description {
        padding: 0;
    }

/* About shoes end */

/* Best Products start */
    .best-products {
        width: 97%;
        height: 850px; 
        margin: auto;
        margin-top: 100px;
    }

    .card-best-product {
        position: relative;
    }

    .card-best-product > .sale {
        position: absolute;
        top: -10px;
        right: -5px;
        padding: 10px 7px;
        color: var(--color--white);
        font-weight: 300;
        background: var(--color--light-green-cyan);
        border-radius: 50%;
    }

    .card-best-product > .quick-view {
        position: absolute;
        bottom: 34%;
        right: 0;
        width: 100%;
        visibility: hidden; 
    }
    .card-best-product:hover > .quick-view {
        visibility: visible;
        transition: 0.4s;
    }

/* Best Products end */



   




}
/* md Screen end */

/* sm screen start */
@media screen and (min-width:320px) and (max-width:430px) {
     /* Slider Start */
    .slider {
        width: 100%;
        height: 500px;
        position: relative;
    }

    .slider > img{
       width: 100%;
       height: 100%;
       object-fit: cover;
    }

    .slider > .show-about {
        width: 100%;
        height: 60%;
        position: absolute;
        top: 50px;
        left: 0px;
        padding: 10px 20px;
    }
    .show-about > .title {
      font-size: 40px;
      color: var(--color--white);
    }
   /* Slider End */


   /* About us start */
    .about-us {
     width: 100%;
     height:1150px;
     background-color: #00d084;
   
     
    }
    .about-us > .bottom > .show-about-us{
       margin-top: -250px;
       padding: 10px 10px;
    }


    /* About shoes sart */
 
    .about-shoes {
        width: 100%;
        height: 1200px;
        margin-top: 20px;
        padding: 0px;
        background-color: var(--color--white-old); 
    }

    .about-shoes > .show-shoes{
        margin-top: 40px;
    }

    .about-shoes > .show-shoes > .show-img > .card > img {
        width: 80%;
        height: 350px;
        margin: auto;
    }

    .about-shoes-top > .description {
        padding: 0;
    }

   /* About shoes end */

   /* Best Products start */
    .best-products {
        width: 97%;
        height: 960px; 
        margin: auto;
        margin-top: 100px;
        
    }

    

    .card-best-product {
        position: relative;
    }

    .card-best-product > .card-body > .card-title {
        font-size: 17px;
    }

    .card-best-product > .sale {
        position: absolute;
        top: -10px;
        right: -5px;
        padding: 10px 7px;
        color: var(--color--white);
        font-weight: 300;
        background: var(--color--light-green-cyan);
        border-radius: 50%;
    }

    .card-best-product > .quick-view {
        position: absolute;
        bottom: 45%;
        right: 0;
        width: 100%;
        visibility: hidden; 
    }
    .card-best-product:hover > .quick-view {
        visibility: visible;
        transition: 0.4s;
    }

/* Best Products end */





}

/* sm screen end */


/* Responsive End */


