:root {
    --color--black: #000000;
    --color--cyan-bluish-gray: #abb8c3;
    --color--white: #ffffff;
    --color--pale-pink: #f78da7;
    --color--vivid-red: #cf2e2e;
    --color--luminous-vivid-orange: #ff6900;
    --color--luminous-vivid-amber: #fcb900;
    --color--light-green-cyan: #7bdcb5;
    --color--vivid-green-cyan: #00d084;
    --color--pale-cyan-blue: #8ed1fc;
    --color--vivid-cyan-blue: #0693e3;
    --color--vivid-purple: #9b51e0;

   
}

::selection {
    background-color: var(--color--luminous-vivid-orange);
    color: var(--color--white);
}
body{
    width: 100%;
}
a{
    text-decoration: none;
}

.row {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul > li {
    list-style-type: none;
}


/* Disign Start */

/* Header Start */
.header {
    background-color: var(--color--cyan-bluish-gray);
}
/* Header End */

/* Main Content Start */
.main-content {
    width: 96%;
    margin: auto;
}

/* Navbar Start */
.my_brands {
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 24px;
    color: var(--color--black);
}


.nav-link {
    font-weight: bold;
}


